<h1 class="text-primary mt-2">Kitten <%= @kitten.id %></h1>

<hr class="my-3" />

<div class='card text-center'>
  <h3 class="text-primary mb-2">Name: <strong><%= @kitten.name %></strong></h3>
  <h3 class="text-primary mb-2">Age: <strong><%= @kitten.age %></strong></h3>
  <h3 class="text-primary">Softness: <strong><%= @kitten.softness %></strong></h3>
</div>